* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --cor1: #6abb59; /* Exemplo de cor 1 */
  --cor2: #028001; /* Exemplo de cor 2 */
  --cor3: #fed725FF; /* Exemplo de cor 3 */
  --cor4: #d3d3d369; /* Exemplo de cor 4 */
  --cor5: #000000e5; /* Exemplo de cor 5 */
}

body, html {
    height: 100%;
}

.main {
    display: flex;
    flex-wrap: wrap;
    min-height: 100%; /* Alteração: define a altura mínima para a barra lateral */
}

.sidebar {
    margin-bottom: -20px;
    width: 20%;
    background-color: #F5C518;
    /* Remova a altura fixa */
}
header {
    background-color: #F5C518;
    padding: 5px 2%;
    display: flex;
    justify-content: space-between;
}

.info-header {
    color: black;
    display: flex;
    justify-content: space-around;

}
th{
  text-align: justify;
}
td{
  text-align: justify;
}
.logo{
    margin-top: 8px;
}

.info-header h3 {
    align-items: center;
    margin: 20px 0;

}

.info-header img {
    width: 80px;
    margin-left: 8px;

}

.info-header svg {
    margin: 0 10px;
    align-items: center;
}
.bxs-offer{
    margin: 10px;
}
.bxs-offer {
    margin-top: 10px;
}

.bxs-notepad {
    margin: 10px;
}

.fa-bell {
    margin: 5px;
}

/* HOME SIDEBAR */

.main {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.sidebar {
    width: 15%;
    background-color: #F5C518;
    min-height: 100%;

}
.sidebar a.sidebar-active{
    border-left: 8px solid white;
    background-color: black;
    color: #F5C518;
    font-weight: bolder;
}
.sidebar a:hover{
    border-left: 8px solid white;
    background-color: black;
    color: #F5C518;
    font-weight: bolder;
}
.sidebar h3 {
    color: black;
    font-size: 20px;
    margin: 10px;
}

.sidebar a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: black;

}

.sidebar .dash {
  margin-top: -1rem;
  color: black;
  border: 1px solid black;

}
.titulo-secao  .dash{
  margin-top: -1rem;
  color: black;
  border: 1px solid black;
}
.titulo-section .dash{
  margin-top: -1rem;
  color: black;
  border: 1px solid black;
  
}
.content {
    width: 85%;
    background-color: rgb(245, 245, 245);
    padding: 10px;
    z-index: 999; /* Garante que o menu esteja acima de outros elementos, se houver */

}
.content-dash {
  width: auto;
  background-color: rgb(245, 245, 245);
  padding: 10px;
  z-index: 999; /* Garante que o menu esteja acima de outros elementos, se houver */

}
.titulo-secao{
    border-radius: 10px ;
    background-color: white;
    padding: 10px;
    
}
.titulo-section{
  border-radius: 10px ;
  background-color: white;
  padding: 10px;
  margin-top: 10px;
  
}
.titulo-secao h2{
    font-size: 20px;
}
.titulo-secao p{
    font-size: 18px;
}
.titulo-secao svg{
    color: #F5C518;
}
.dashboard-title:after {
 
  width: 300px;
  border-bottom: 2px solid #F5C518;
  display: block;
  margin: 0 auto;
  padding-top: 7px;
}
.dashboard-fluid{
  border-radius: 50px solid black;
 
}
.dashboard-title {
  text-align: center;
  align-items: center;
  width: 500px;
  font-weight: bold;
  border-bottom: 2px solid #F5C518;
  display: block;
  margin: 20px auto;
  padding-top: 10px;
}
.dashboard-description {
  color: black;
  font-size: 18px;
  text-align: center;

}
.box-info {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.box-info-single {
   display: flex;
   justify-content: space-between;
   border-radius: 10px;
   color: aliceblue;
   width: 24%;
  margin: 0 300px;
   padding: 30px;
   color: black;
}
.box-info-single svg{
    font-size: 30px;
}

#valorizacao {
    background-image: linear-gradient(to right top, #0aa7eb, #0098ed, #0088ec, #0675e8, #3e61e0);
    border-radius: 10px;
    text-align: center;
    margin: 10px 0; /* Ajustado */
}

#rentabilidade {
    background-color: red;
    border-radius: 10px;
    text-align: center;
    margin: 10px 0; /* Ajustado */
}

#dividendos {
    background-image: linear-gradient(to right top, #5df8a7, #50f79f, #41f597, #30f48f, #13f287);
    border-radius: 10px;
    text-align: center;
    margin: 10px 0; /* Ajustado */
}

#investido {
    background-image: linear-gradient(to right top, #eaf669, #ebf058, #edea46, #efe432, #f2de13);    border-radius: 10px;
    text-align: center;
    margin: 10px 0; /* Ajustado */
}
body {
 
    background-color: #f4f4f4;
  }



/* Parte do Novo Produto */
.card-btn {
  margin-top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: #F5C518;  
  font-size: 12px;
  color: black;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.card-btn:hover{
  background: black;
  color: #F5C518;
}
/* config MSG */



.msg-container {
  padding: 10px ;
  margin-bottom: -40px;
}

.msg {
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  border: solid 1px #000;
  text-align: center;
}

.msg.error {
  color: #842029;
  background-color: #F8D7DA;
  border-color: #F5C2C7;
}

.msg.success {
  color: #000;
  background-color: #D1E7DD;
  border-color: #BADBCC;
}


/* aqui começa o painel*/
.dashboard-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  flex: 1 1 calc(50% - 20px); /* Faz com que cada card ocupe metade da largura */
  box-sizing: border-box;
}

.card h3 {
  margin-bottom: 15px;
}

.card div {
  height: 300px; /* Altura para os gráficos */
}

.dashboard-content .page-title{
  text-transform: uppercase;
  font-size: bolder;
  text-align: center;
  
  color: var(--cor2);
}




