* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --cor1: #6abb59; /* Exemplo de cor 1 */
  --cor2: #028001; /* Exemplo de cor 2 */
  --cor3: #fed725FF; /* Exemplo de cor 3 */
  --cor4: #d3d3d369; /* Exemplo de cor 4 */
  --cor5: #000000e5; /* Exemplo de cor 5 */
  --cor6: #1F3B4D;
  --cor7: #F5F5F5;
  --cor8: #FFFFFF; 
}

body, html {
    height: 100%;
}

.main {
    display: flex;
    flex-wrap: wrap;
    min-height: 100%; /* Alteração: define a altura mínima para a barra lateral */
    
}

.sidebar {
    margin-bottom: -20px;
    width: 20%;
    background-color: var(--cor6);
    
    /* Remova a altura fixa */
}
header {
    background-color: var(--cor6);
    padding: 5px 2%;
    display: flex;
    justify-content: space-between;
    color: var(--cor7);
}

.info-header {
    color: var(--cor8);
    display: flex;
    justify-content: center;

}
th{
  text-align: justify;
}
td{
  text-align: justify;
}
.logo{
    margin-top: 8px;
}

.info-header h3 {
    align-items: center;
    margin: 20px 0;

}

.info-header img {
    width: 80px;
    margin-left: 8px;

}

.info-header svg {
    margin: 0 10px;
    align-items: center;
}
.bxs-offer{
    margin: 10px;
}
.bxs-offer {
    margin-top: 10px;
}

.bxs-notepad {
    margin: 10px;
}

.fa-bell {
    margin: 5px;
}

/* HOME SIDEBAR */

.main {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.sidebar {
    width: 15%;
    background-color: var(--cor6);
    min-height: 100%;
    color: var(--cor8);

}
.sidebar a.sidebar-active{
    border-left: 8px solid white;
    background-color: black;
    color: var(--cor8);
    font-weight: bolder;
}
.sidebar a:hover{
    border-left: 8px solid white;
    background-color: black;
    color: var(--cor8);
    font-weight: bolder;
}
.sidebar h3 {
    color: white;
    font-size: 20px;
    margin: 10px;
}

.sidebar a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: white;

}

.sidebar .dash {
  margin-top: -1rem;
  color: black;
  border: 1px solid black;

}
.titulo-secao  .dash{
  margin-top: -1rem;
  color: black;
  border: 1px solid black;
}
.titulo-section .dash{
  margin-top: -1rem;
  color: black;
  border: 1px solid black;
  
}
.content {
    width: 85%;
    background-color: rgb(245, 245, 245);
    padding: 10px;
    z-index: 999; /* Garante que o menu esteja acima de outros elementos, se houver */

}
.content-dash {
  width: auto;
  background-color: rgb(245, 245, 245);
  padding: 10px;
  z-index: 999; /* Garante que o menu esteja acima de outros elementos, se houver */

}
.titulo-secao{
    border-radius: 10px ;
    background-color: white;
    padding: 10px;
    
}
.titulo-section{
  border-radius: 10px ;
  background-color: white;
  padding: 10px;
  margin-top: 10px;
  
}
.titulo-secao h2{
    font-size: 20px;
}
.titulo-secao p{
    font-size: 18px;
}
.titulo-secao svg{
    color: #F5C518;
}
.dashboard-title:after {
 
  width: 300px;
  border-bottom: 2px solid #F5C518;
  display: block;
  margin: 0 auto;
  padding-top: 7px;
}
.dashboard-fluid{
  border-radius: 50px solid black;
 
}
.dashboard-title {
  text-align: center;
  align-items: center;
  width: 500px;
  font-weight: bold;
  border-bottom: 2px solid #F5C518;
  display: block;
  margin: 20px auto;
  padding-top: 10px;
}
.dashboard-description {
  color: black;
  font-size: 18px;
  text-align: center;

}
.box-info {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.box-info-single {
   display: flex;
   justify-content: space-between;
   border-radius: 10px;
   color: aliceblue;
   width: 24%;
  margin: 0 300px;
   padding: 30px;
   color: black;
}
.box-info-single svg{
    font-size: 30px;
}

#valorizacao {
    background-image: linear-gradient(to right top, #0aa7eb, #0098ed, #0088ec, #0675e8, #3e61e0);
    border-radius: 10px;
    text-align: center;
    margin: 10px 0; /* Ajustado */
}

#rentabilidade {
    background-color: rgba(233, 130, 130, 0.555);
    border-radius: 10px;
    text-align: center;
    margin: 10px 0; /* Ajustado */
}

#dividendos {
    background-image: linear-gradient(to right top, #5df8a7, #50f79f, #41f597, #30f48f, #13f287);
    border-radius: 10px;
    text-align: center;
    margin: 10px 0; /* Ajustado */
}

#investido {
    background-image: linear-gradient(to right top, #eaf669, #ebf058, #edea46, #efe432, #f2de13);    border-radius: 10px;
    text-align: center;
    margin: 10px 0; /* Ajustado */
}
body {
 
    background-color: #f4f4f4;
  }



/*  */
.card-btn {
  margin-top: 10px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: var(--cor6);  
  font-size: 12px;
  color: var(--cor3);
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.card-btn:hover{
  background: var(--cor5);
  color: white;
  font-weight: bolder;
}
/* config MSG */



.msg-container {
  padding: 10px ;
  margin-bottom: -40px;
}

.msg {
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  border: solid 1px #000;
  text-align: center;
}

.msg.error {
  color: #842029;
  background-color: #F8D7DA;
  border-color: #F5C2C7;
}

.msg.success {
  color: #000;
  background-color: #D1E7DD;
  border-color: #BADBCC;
}


/* aqui começa o painel*/
.dashboard-content {
  display: flex;
  
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  
}

.card {
  max-height: 100vh;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  flex: 1 1 calc(50% - 20px); /* Faz com que cada card ocupe metade da largura */
  box-sizing: border-box;
}
.grafico-tipoAtivo, .grafico-acao, .grafico-fiis{
  background-color:var(--cor4);
}
.grafico-consolidado{
  background-color: var(--cor4);
}

.card h3 {
  margin-bottom: 15px;
}

.card div {
  height: 300px; /* Altura para os gráficos */
}

.dashboard-content .page-title{
  text-transform: uppercase;
  font-size: bolder;
  text-align: center;
  
  color: var(--cor2);
}
.fa-solid{
  text-align: r;
}

.dashboard-content  .page-title i {
  float: right;
  margin-left: 10px; /* Espaçamento entre o título e o ícone */
  justify-content: space-around;
}
.card{
  justify-content: space-between;
}


/* ============ CarteiraConsolidadas ============ */
.dashboard-layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.dashboard-content {
  flex: 1;
  margin-right: 20px;
}

.aside-container #menu-aside {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaçamento entre os asides */
  width: 250px;
  background-color: var(--cor6);
  color: white;
  border-radius: 8px;
  position: sticky;
  margin-top: 100px;
  text-align: center;
  
}

#nav-container {
  width: 250px;
  background-color: var(--cor6);
  color: white;
  border-radius: 8px;
  position: sticky;
  margin-top: 100px;
  text-align: center;
  
}

#tags-title, #categories-title {
  font-size: 18px;
  color: white;
  background-color: var(--cor5);
  padding: 15px;
  border-radius: 8px;
  height: fit-content;
  font-weight: 600;
}

#tag-list, #categories-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 20px;
  color: white;
}

#tag-list li, #categories-list li {
  margin-bottom: 8px;
  color: white;
 
}
#tag-list li:hover, #categories-list li:hover {
  border-left: 8px solid white;
  background-color: black;
  color: white;
  font-weight: bolder;
  padding: 10px;
  text-transform: uppercase;
}

#tag-list a, #categories-list a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

/* Estilo para o Modal */
.modal {
  display: none; /* Escondido por padrão */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Fundo escurecido */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.close-btn {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

/* Estilo para a pagina do preco teto*/

ul .text-li{
 
  list-style: none;
}

.link-exe{
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.link-exe:hover{
  text-decoration: none;
  color: black;
}

.li-preco{
  list-style-type: none;
}



/* Arquivo CSS: dash.css */

.positive-margin {
  background-color: green; /* Verde claro para valores positivos */
  color: white; /* Texto verde escuro */
  
  text-align: center;
  font-weight: bolder;
}

.negative-margin {
  background-color: red; /* Vermelho claro para valores negativos */
  color: black; /* Texto vermelho escuro */
  padding: 5px;
  text-align: center;
  font-weight: bolder;
}

.no-margin {
  background-color: var(--cor4); /* Cinza claro para valores 'N/A' */
  color: #6c757d; /* Texto cinza escuro */
  
 
}

/* Estilo base para as linhas da tabela */
.planilha {
  border-radius: 10px; /* Ajuste o valor conforme necessário */
  overflow: hidden; /* Garante que o conteúdo não sobreponha as bordas arredondadas */
  border: 3px solid black; /* Adiciona uma borda para destacar o contêiner (opcional) */
  background-color: #fff; /* Cor de fundo para o contêiner (opcional) */
  
}

.table {
  border-collapse: separate; /* Garante que as bordas arredondadas funcionem */
  border-radius: 10px; /* Ajuste o valor conforme necessário */
  overflow: hidden; /* Garante que o conteúdo da tabela não sobreponha as bordas arredondadas */
 
}

.table thead {
  background-color: #f9f9f9; /* Cor de fundo opcional para o cabeçalho */
}

/* Alternância de cor das linhas */
.table tbody tr {
  transition: background-color 0.3s ease;
  
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
  
}

.table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.table tbody tr:hover {
  background-color: #ddd;
}
.table td, .table th {
  text-align: center; /* Centraliza o texto */
}
.action {
  text-align: center; /* Centraliza o texto apenas nesta coluna */
}
.table thead th {
  text-align: center; /* Centraliza o texto no cabeçalho */
}
